{% extends 'headerPage.html' %}

{% block content%}

{% for i in listOfImagesPath %}

<div class="flex justify-center items-center">
    <div class="2xl:mx-auto 2xl:container lg:px-20 lg:py-16 md:py-12 md:px-6 py-9 px-4 w-96 sm:w-auto">
      <div role="main" class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-semibold leading-9 text-center text-gray-800 dark:text-gray-50">AI Lense Gallery</h1>
      </div>
      <div class="lg:flex items-stretch md:mt-12 mt-8">
        <div class="lg:w-1/2">
          <div class="sm:flex items-center justify-between xl:gap-x-8 gap-x-6">
            <div class="sm:w-1/2 relative">
              <div>
                <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">AI Lense</p>
                <div class="absolute bottom-0 left-0 p-6">
                  <h2 class="text-xl font-semibold 5 text-white">{{predictedLabel}}</h2>
                  <p class="text-base leading-4 text-white mt-2">{{predictedLabel}}</p>
                </div>
              </div>
              <img src={{i}} class="w-full">
            </div>
            <div class="sm:w-1/2 sm:mt-0 mt-4 relative">
              <div>
                <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">AI Lense</p>
                <div class="absolute bottom-0 left-0 p-6">
                  <h2 class="text-xl font-semibold 5 text-white">{{predictedLabel}}</h2>
                  <p class="text-base leading-4 text-white mt-2">{{predictedLabel}}</p>
                </div>
              </div>
              <img src={{i}} class="w-full">
            </div>
          </div>
          <div class="relative">
            <div>
                <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">AI Lense</p>
              <div class="absolute bottom-0 left-0 md:p-10 p-6">
                <h2 class="text-xl font-semibold 5 text-white">{{predictedLabel}}</h2>
                <p class="text-base leading-4 text-white mt-2">{{predictedLabel}}</p>
              </div>
            </div>
            <img src={{i}} alt="sitting place" class="w-full mt-8 md:mt-6 hidden sm:block" />
            <img class="w-full mt-4 sm:hidden" src={{i}} alt="sitting place" />
          </div>
        </div>
        <div class="lg:w-1/2 xl:ml-8 lg:ml-4 lg:mt-0 md:mt-6 mt-4 lg:flex flex-col justify-between">
          <div class="relative">
            <div>
                <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">AI Lense</p>
              <div class="absolute bottom-0 left-0 md:p-10 p-6">
                <h2 class="text-xl font-semibold 5 text-white">{{predictedLabel}}</h2>
                <p class="text-base leading-4 text-white mt-2">{{predictedLabel}}</p>
              </div>
            </div>
            <img src={{i}} alt="sitting place" class="w-full sm:block hidden" />
            <img class="w-full sm:hidden" src={{i}} alt="sitting place" />
          </div>
          <div class="sm:flex items-center justify-between xl:gap-x-8 gap-x-6 md:mt-6 mt-4">
            <div class="relative w-full">
              <div>
                <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">AI Lense</p>
                <div class="absolute bottom-0 left-0 p-6">
                  </a>
                </div>
              </div>
              <img src={{i}} class="w-full" alt="chair" />
            </div>
            <div class="relative w-full sm:mt-0 mt-4">
              <div>
                <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">AI Lense</p>
                <div class="absolute bottom-0 left-0 p-6">
                  <h2 class="text-xl font-semibold 5 text-white">{{predictedLabel}}</h2>
                  <p class="text-base leading-4 text-white mt-2">{{predictedLabel}}</p>
                </div>
              </div>
              <img src={{i}} class="w-full" alt="wall design" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endfor%}



{% endblock %}